{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block corpo %}
<link rel="stylesheet" type="text/css" href="{% static "css/default.css" %}" >
<link rel="stylesheet" type="text/css" href="{% static "css/my_uploads.css" %}" >
<link rel="stylesheet" type="text/css" href="{% static "css/tag.css" %}" >

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script>
//using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    crossDomain: false,
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

$(document).ready(function(){
	  $("#get_my_images").click(function(){
		  $("#myUploadsContent").load("/get_my_images");
	  });
	  
	  $("#get_my_texts").click(function(){
		  $("#myUploadsContent").load("/get_my_texts");
	  });
	});
</script>

<div id="myUploadsMenu">
	<ul>
		<li id="get_my_images">{% trans "Images" %}</li>
		<li id="get_my_texts">{% trans "Texts" %}</li>
	</ul>
</div>

<div id="body">
	<h1>{% trans "My Uploads" %}</h1>

	
	
	<div id="myUploadsContent"></div>
	
</div>
{% endblock %}