<!-- Language selection js and style -->
<script src="http://www.marghoobsuleman.com/misc/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/msdropdown/dd.css" />
<script src="/static/js/msdropdown/jquery.dd.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/msdropdown/flags.css" />

<!-- Google Webfonts CSS style, see: http://www.google.com/webfonts -->
<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic&subset=latin,cyrillic,greek-ext,greek,latin-ext' rel='stylesheet' type='text/css'>

<!-- Main styles file -->
<link rel="stylesheet" type="text/css" href="/static/css/styles.css" />