{% load i18n %}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta property="og:title" content="FingerTools" />
<meta property="og:description" content="Free media hosting" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://fingertools.net" />
<meta property="og:image"
	content="http://fingertools.net/static/img/server/logo_sqr.png?t=54321?" />
<meta property="og:site_name" content="FingerTools" />
<meta property="fb:admins" content="100001384571358" />

<META NAME="Description" CONTENT="FingerTools - {% trans "Free media sharing. It's not necessary to create an account or login to upload or share an image" %}."/>