{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
	{% include 'base/css.html' %}
	<link rel="stylesheet" type="text/css" href="{% static "css/default.css" %}" >
{% endblock %}

{% block corpo %}

<div id="body">
	<h2>Termos de Uso de FingerTools.net</h2>
	<p align="center">
	
	<h3>Versão curta dos termos de uso</h3>
	Não envie conteúdo que possa ser considerado como pornográfico, assédio, protegido por direitos autorais, ou spam. Se você o fizer, iremos banir você e deletar todas suas imagens no FingerTools. Você é o dono do conteúdo que você envia. Não use contas no FingerTools para fins comercias, a não ser que autorizado por FingerTools de forma escrita.
	<br>
	<h3>Definições</h3>
	<ol>
	<li>"FingerTools" se refere ao website localizado em <a href="http://fingertools.net">http://fingertools.net</a> e exclui seus proprietários e operadores.</li>
	<li>"Conteúdo" se refere a qualquer arquivo que é compartilhado, enviado ou distribuído através do FingerTools.</li>
	<li>"Você", "Seu" se refere ao indivíduo que envia ou enviou conteúdo ao FingerTools.</li>
	</ol>
	<h3>Propriedade de conteúdo</h3>
	O conteúdo que você distribui através de FingerTools pertence a você, e você da ao FingerTools a permissão de mostrar e distribuir tal conteúdo exclusivamente em FingerTools.
	<br><br>
	Você pode revogar esta permissão a qualquer momento requisitando que o conteúdo seja removido. Tais requisições serão processadas dentro de um período máximo de 1 semana. Após a requisição ser processada, FingerTools irá cessar a distribuição de seu conteúdo dentro de um período máximo de 24 horas e irá se absorver de qualquer propriedade do dito conteúdo.
	<br><br>
	FingerTools nunca irá vender ou distribuir seu conteúdo a terceiros sem a sua permissão. Terceiros poderão se fazer das seguintes ações em relação ao seu conteúdo:
	<br><br>
	<ul>
	<li>Terceiros poderão referenciar a página que exibe o seu conteúdo em FingerTools sem notificação e com devidas atribuições a você.</li>
	<li>Terceiros poderão requisitar permissão para uso de seu conteúdo contatando você pessoalmente.</li>
	</ul>
	<br>
	Todas as requisições de permissão em relação ao seu conteúdo direcionados ao FingerTools serão redirecionadas a você. Todo conteúdo enviado é protegido por direitos autorais aos seus respectivos proprietários. FingerTools direciona total responsabilidade do dito conteúdo aos seus respectivos proprietários. FingerTools não se responsabiliza por qualquer conteúdo enviado, nem possui afiliação com qualquer entidade que possa vir a ser representada em conteúdo enviado.
	<br>
	<h3>Privacidade relacionada a Publicidade</h3>
	FingerTools utiliza publicidade de companhias de terceiros para exibir anúncios quando você visita o FingerTools. Estas companhias podem utilizar informações demográficas agregadas não pessoalmente identificável providas por você para exibir publicidade relacionadas a bens e serviços que possam ser de seu interesse.
	<br><br>
	Se você gostaria de saber mais sobe esta prática e quais são suas opções sobre não ter estas informações usadas por companhias, visite:
	<br>
	<a href="http://www.networkadvertising.org/managing/opt_out.asp">http://www.networkadvertising.org/managing/opt_out.asp</a>
	<br>
	<h3>Abuso</h3>
	Os seguintes tipos de conteúdo constituem "abuso" e podem não ser enviadas ou distribuídas pelo FingerTools:
	<br><br>
	<ul>
	<li>Conteúdo pornográfico. Isto incluí, mas não se limita a, conteúdo que retrate genitália, nudez, ou situações sexuais.</li>
	<li>Conteúdo que seja ilegal e/ou viole qualquer lei do Brasil.</li>
	<li>Conteúdo que viole direitos autorais mantidos no dito conteúdo.</li>
	<li>Conteúdo com intenção de ameaça ou assédio.</li>
	<li>Conteúdo utilizado para promover, fazer spam, ou enviar mensagens não solicitadas de marketing.</li>
	</ul>
	<br>
	Enviar conteúdo abusivo pode resultar em terminação imediata da sua habilidade de utilizar o FingerTools. O FingerTools pode não ser carregado, todo e qualquer conteúdo hospedado no FingerTools pode não ser carregado, e todo conteúdo abusivo está sujeito a ser removido. Contornar a capacidade de FingerTools de cumprir os Termos de Uso de Serviço pode resultar em processo.
	<br><br>
	FingerTools se reserva ao direito de remover qualquer conteúdo, e pode substituir qualquer conteúdo por uma nota exibindo o motivo da remoção.<br><br>
	Qualquer referencia à domínios com conteúdo abusivo irá ter este conteúdo sujeito a remoção.<br><br>
	Para reportar qualquer tipo de abuso, envie um e-mail utilizando o formulário de reportar abuso.
	<br>
	<h3>Limitação de responsabilidade</h3>
	Você concorda que o uso do FingerTools é inteiramente sob sua conta e risco. O FingerTools é fornecido "tal como é", sem garantias de qualquer tipo, expressa ou implícita, construtiva ou estatutárias, incluindo, sem limitação, quaisquer garantias de não violação, comerciabilidade ou adequação para um propósito particular.
	<br><br>
	FingerTools não faz nenhuma garantia de disponibilidade de serviço e se reserva o direito de alterar, retirar, suspender ou interromper qualquer funcionalidade ou função no FingerTools. Em nenhum caso o FingerTools será responsável por quaisquer danos, incluindo, sem limitação, diretos, indiretos, incidentais, especiais, consequentes, ou punitivos decorrentes do uso ou da incapacidade de usar o FingerTools ou qualquer conteúdo nele. Esta isenção aplica-se, sem limitação, para quaisquer danos ou prejuízos, seja por violação de contrato, ato ilícito, ou não, causados por qualquer falha de desempenho, erro, omissão, interrupção, exclusão, defeito, atraso na operação ou transmissão, vírus de computador; corrupção de arquivo, comunicação de linha de falha; interrupção da rede ou sistema, ou roubo, destruição, acesso não autorizado, alteração ou utilização de qualquer registro.
	<br>
	<h3>Indenização</h3>
	Você concorda em indenizar e isentar FingerTools de qualquer perda, responsabilidade, reclamações, danos e despesas, incluindo honorários advocatícios, decorrentes ou relacionadas ao conteúdo, utilização ou eliminação do seu conteúdo ou uso de qualquer outro recurso ou serviço. Isso inclui expressamente:
	<ul>
	<li>Sua responsabilidade por toda e qualquer responsabilidade decorrente da violação ou infração de direitos de propriedade ou direitos autorais.</li>
	<li>Qualquer material difamatório ou ilegal contido em seu conteúdo.</li>
	</ul>
	<h3>Manutenção</h3>
	FingerTools pode realizar serviços de manutenção, conforme determina razoavelmente necessário. Você reconhece que essa manutenção pode exigir tempo de inatividade. FingerTools tentará de boa fé fornecer um aviso prévio da parada de manutenção.
	<br>
	<h3>Uso comercial</h3>
	Não use contas FingerTools para fins comerciais, incluindo, mas não limitado a promoção de serviços, produtos ou utilizar nossos serviços, como uma plataforma de hospedagem de imagem em seu site, blog web, aplicações, etc.
	<br>
	<h3>Diversos</h3>
	Você é responsável por manter a confidencialidade de suas credenciais de conta e de tomar medidas razoáveis para evitar que outras pessoas tenham acesso às suas contas.
	<br><br>
	Os Termos de Uso de Serviço do FingerTools estão sujeitos a alteração sem aviso prévio.

</div>


{% endblock %}
